Header set Content-Security-Policy "default-src 'self' https://www.gstatic.com https://www.googleapis.com https://cdn.jsdelivr.net; script-src 'self' https://www.gstatic.com https://www.googleapis.com https://cdn.jsdelivr.net; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net; connect-src 'self' https://identitytoolkit.googleapis.com https://securetoken.googleapis.com https://www.googleapis.com;"